<div class="container section">
    <section class="section">

        <h1 class="title">Backbone</h1>
        <div class="columns">
            <div class="column is-half">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <hr>
        <h1 class="title">System</h1>
        <div class="columns">
            <div class="column is-half">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Ubuntu</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <hr>
        <h1 class="title">IDE and Editor</h1>
        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Intellij Idea Community Edition</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="column">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Visual Studio Code</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <hr>
        
        <h1 class="title">Tech</h1>
        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Spring Framework</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Angular</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Angular Material Components</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Bulma CSS</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Fontawsome Free Icons Set</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- <div class="column">
                <mat-card>
                    <mat-card-content>
                        <h2 class="subtitle"><a href="http://ytdl-org.github.io/youtube-dl/">Bulma CSS</a></h2>
                        <p>
                            <a href="" routerLink="/home">ydl</a> is a frontend to <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                            It provides most common download options. I would like to thank the developers of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>
                            for their efforts in development of <a
                                href="http://ytdl-org.github.io/youtube-dl/">Youtube-dl</a>.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div> -->
        </div>
    </section>
</div>