html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    color: #3298DC;
}
a:hover {
    color: #3298DC;
    text-decoration: underline;
}

.is-horizontal-center {
    justify-content: center;
}
