<div class="has-background-white content">
  <p class="is-size-3 has-text-weight-semibold has-bottom-padding">Register</p>
  <form action="#">
    <div class="field">
      <div class="control">
        <input class="input is-radiusless" placeholder="Email" required type="email">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-radiusless" placeholder="Password" required type="password">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-radiusless" placeholder="Repeat password" required type="password">
      </div>
    </div>
    <div class="field">
      <button class="button is-black is-radiusless is-fullwidth">Create Account</button>
    </div>
    <div class="columns is-hidden-mobile">
      <div class="column has-text-left has-text-link"><a routerLink="/login">Already have an account</a></div>
      <!-- <div class="column has-text-right has-text-link"><a href="#">Reset account</a></div> -->
    </div>
    <div class="is-hidden-tablet">
      <div class="has-text-link"><a routerLink="/login">Already have an account</a></div>
      <!-- <div class="has-text-link"><a href="#">Reset account</a></div> -->
    </div>
  </form>
</div>
